h3 {
    font-weight: 400;
}

#user-photo {
    border-radius: 23.5px;
}


.card-text {
    display: block;
    min-height: 4rem;
}

.message-section {
    border: 1px solid none;
    border-radius: 10px;
    margin: 5% 0%;
    text-align: center;
    padding: 5% 10%;
    background: rgba(51, 255, 0, 0.4);
    opacity: 0;
    transition: .2s ease-in;
}

.my-fixed-tab {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0;
    z-index: 1;
}

.my-opac-bg {
    background: rgba(0, 0, 0, 0.7);
}

.my-login-button {
    margin: .25rem 1rem;
    padding: .25rem .90rem;
    border-style: hidden;
    color: rgba(255, 255, 255, 0.5);
    font-family: sans-serif;
    transition-duration: .4s;
    cursor: pointer;
    background: rgb(36, 35, 35);
    border-radius: 5px;
}

.my-login-button:hover {
    color: rgba(255, 255, 255, 1);
}

.my-reg-button {
    margin-left: 0px;
    margin-right: 1.25rem;
    padding: 7px 21px;
    border-radius: 4px;
    font-size: 14pt;
    border-style: none;
    /*border-color: rgb(43, 187, 51);
    */
    background: rgb(48, 36, 219);
    color: white;
    font-family: sans-serif;
    transition-duration: .4s;
    cursor: pointer;
}

.my-reg-button:hover {
    margin: 0;
    font-size: 18pt;
    color: aliceblue;
}

.my-logout-button {
    margin: 7px 0px 0px 17px;
    padding: 7px 21px;
    border-radius: 7px;
    border-style: none;
    color: rgb(255, 9, 9);
    background: black;
    font-family: sans-serif;
    font-size: 14pt;
    transition-duration: .4s;
    cursor: pointer;
}

.my-logout-button:hover {
    font-size: 18pt;
    margin-top: 0%;
    background: rgb(243, 12, 12);
    color: aliceblue;
}

.no-background {
    background: none;
}

.my-template-button {
    color: black;
    background: rgba(230, 227, 227, 0.7);
    padding: 10px 15px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgba(136, 136, 136, 0.7);
    margin: 10px 10px;
}

.my-template-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.my-main {
    /* setting background image with gradient overlay */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bgpicture-1.png);
    background-attachment: fixed;
    background-size: cover;
    /**/
    margin: 0px auto auto auto;
    padding: 100px 0%;
    color: aliceblue;
    /**/
    /*uncomment for image background*/
}


.my-footer {
    top: auto;
    bottom: 0cm;
    margin-top: auto;
}

.my-row {
    padding: 25px 0px;
}

.my-help {
    bottom: 0%;
    right: 0%;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 10px 29px;
    position: fixed;
    background: #cc2f2f;
    color: white;
    font-size: 27pt;
    z-index: 999999;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.my-help:hover {
    color: blanchedalmond;
    font-size: 29pt;
}

.my-quickpreview {
    position: absolute;
    z-index: -1;
    align-self: center;
    /**/
    left: 30%;
    top: 10%;
    width: 45%;
    height: auto;
    /**/
    opacity: 0;
    box-shadow: 0px 5px 100px rgba(0, 0, 0, 0.952);
    transition: 0.5s ease-in;
}
.preview-cover{
    position: absolute;
    display: block;
    width: 100%;
    height: 1500px;
    background: rgba(1, 1, 1, 0.5);
    opacity: 0;
    z-index: -1;
    transition: .5s ease-in;
}

.my-close-preview {
    position: absolute;
    display: block;
    padding: 10px;
    background-color: aliceblue;
    z-index: -1;
    top: 10%;
    left: 75%;
    border: solid black;
}

.get-big {
    width: 100%;
    padding-bottom: 20%;
    padding-right: 5%;
    padding-left: 5%;
    transition: .4s ease;
}

.get-big:hover {
    width: 110%;
    padding-bottom: 0;
    padding-left: 0;
}

.btn-select {
    padding: 5px 21px;
    border: 1px solid rgba(177, 175, 175, 0.431);
    border-radius: 4px;
    color: black;
    margin: 5px 10px;
    background: inherit;
    transition: .2s ease;
}

.btn-select:hover {
    background: rgb(17, 100, 255);
    color: white;
}

.btn-pla-sig {
    padding: 5px 21px;
    border: 2px solid rgba(177, 175, 175, 0.431);
    border-radius: 5px;
    color: white;
    font-size: 17pt;
    margin: 5px 10px;
    background: inherit;
    transition: .2s ease;
}

.btn-pla-sig:hover {
    background: rgba(133, 111, 111, 0.651);
}

#formheading {
    transition: .2s ease-out;
}

#flname,
#forgotpswd,
#plasignin,
#institute,
#p {
    transition: .4s ease;
}

.black-transparent {
    background: rgba(1, 1, 1, 0.5);
    border: 1px solid grey;
}

.fontblack {
    color: black;
}

.fontwhite {
    color: aliceblue;
}

/*------------------Resume CSS---------------------*/
.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-60 {
    width: 60%;
}

.w-100 {
    width: 100%;
}

.intro {
    padding: 5px;
}

.inline-block {
    display: inline-block;
}

#resume{
    opacity:0;
    transition: .7s ease-in;
}

.my-side-line {
    border-left: 4px solid rgb(14, 2, 80);
    padding-left: 20px;
    border-collapse: separate;
}

.head-field{
    display: inline-block;
    min-width:50px;
}

.input-field:hover{
    background: #e1f5c7b0;
}
.invisible {
    display: none;
}

#ach-btn {
    margin: 15px;
    font-size: 14pt;
}

#awards-table {
    transition: opacity .7s ease-in-out;
}

/* 
table:nth-child(n+2) tr:first-child{
    background: rgba(201, 175, 175, 0.753);
}*/
.addButton {
    margin: 10px 5px;
    padding: 5px 14px;
    background: rgb(128, 255, 128);
    color: black;
    border: none;
    border-radius: 3px;
    font-size: 11pt;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.27);
}

.removeButton {
    margin: 10px 5px;
    padding: 5px 14px;
    background: rgba(255, 0, 0, 0.596);
    color: black;
    border: none;
    border-radius: 3px;
    font-size: 11pt;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.27);
}

.addButton:hover {
    margin: 0px 5px;
    font-size: 14pt;
    transition-duration: .3s;
}

.removeButton:hover {
    margin: 0px 0px;
    font-size: 14pt;
    transition-duration: .3s;
}

.small-btn {
    font-size: 9pt;
}

.my-resume-page {
    padding-top: 25px;
    background: white;
    box-shadow: 0 20px 22px rgba(0, 0, 0, 0.27);
    color: black;
    overflow: auto;
}

.my-resume-bg {
    background: rgb(236, 233, 233);
}

.my-controls {
    /*position: fixed;
    z-index: 100;
    right: 0;
    top: 25%;
    */
    margin: 15px 15px;
    text-align: center;
    background-color: white;
    padding: 20px 30px;
    /*border-radius: 20px 20px 20px 20px;*/
    box-shadow: 0 20px 22px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
}

.my-controls ul {
    list-style: none;
    margin-bottom: 0%;
}

.my-controls ul li {
    display: inline-block;
}

.save-message {
    position: fixed;
    z-index: 1000;
    display: none;
    top: 25px;
    left: 47%;
    padding: 5px 15px;
    color: aliceblue;
    background: rgb(44, 187, 75);
    border: none;
    border-radius: 4px;
    transition: .7s ease-out;
    font-size: 10pt;
    font-weight: 500;
}

@media only screen and (max-width: 800px) {
    #logo {
        display: none;
    }
}

/*
.form-group {
    border: 1px solid white;
    border-radius: 20pt;
    padding: 2rem 3rem;
    background: white;
    color: black;
}

.form-control form input {
    width: 15rem;
}

/*---------------------------------------------------*/